.dashboard-header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-pp{
    margin-left: 30px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}