*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1000px;
  margin: auto;
  padding: 0px 5px;
}

body{
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
                                                
}

a{
  text-decoration: none;
  color: black;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}

p{
  font-weight: 400;
}

span{
  color:  rgba(0, 0, 0, 0.35);
}

.highlight{
  font-weight: 550;
  color: black;
}

.active{
  color: #534FEB;
}


@media screen  and (max-width: 768px){
  .container{
    max-width: 1000px;
    margin: auto;
    padding: 0px 20px;
  }
}